/* define vars for the root element */

:root {
  --nav-bg-color: #1f2937;
  --header-container-bg-color: #1f2937;
  --sign-up-bg-color: #3882f6;
  --quote-container-bg-color: #e5e7eb;
  --call-to-action2-bg-color: #3882f6;
  --button-bg-color: #3882f6;
  --copyright-container-bg-color: #1f2937;
}

.flex {
  display: flex;
}

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #e5e7eb;
}

nav {
  font-weight: 18;
  background-color: var(--nav-bg-color);
}

.header-container {
  margin: auto;
  background-color: var(--header-container-bg-color);
}

.header-logo-text {
  margin-left: 10%;
  color: #f9faf8;
  margin-right: 20%;
  font-size: 24px;
}

.header-link {
  list-style: none;
  display: inline;
  color: #e5e7eb;
  margin-left: 80px;
  font-size: 18px;
}

.hero-header-text {
  font-size: 48px;
  margin: 0;
}

.page-description {
  width: 135%;
}

.hero-container {
  color: #f9faf8;
  margin-left: 10%;
  margin-top: 7%;
  margin-right: 5%;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 10%;
}

.sign-up-button {
  background-color: var(--sign-up-bg-color);
  border-radius: 10px;
  border: #3882f6;
  width: 45%;
  height: 16%;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 15px;
}

img {
  width: 120%;
  height: 250px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}

.information-container {
  padding-top: 2%;
  padding-bottom: 3%;
}

.information-header-text {
  color: #1f2937;
  text-align: center;
  margin: auto;
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 36px;
}

.illustration-container1 {
  margin-left: 25%;
}

.illustration-container {
  width: 15%;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 10%;
  border-width: 5px;
  margin-left: 3%;
  color: #1f2937;
  margin-bottom: 10%;
}

.image-subtext {
  color: #1f2937;
  width: 150px;
  text-align: center;
  margin-top: 130%;
  font-weight: 500;
}

.quote-container {
  background-color: var(--quote-container-bg-color);
  color: #1f2937;
  padding-top: 3%;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  margin-bottom: 10%;
}

.quote-text {
  padding-left: 25%;
  padding-right: 15%;
  margin: 0;
}

.quote-author {
  margin: 0;
  margin-left: 60%;
  padding-bottom: 3%;
  color: #1f2937;
  font-weight: bold;
  font-size: 24px;
}

.call-to-action-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.call-to-action-container {
  font-size: 20px;
  font-weight: 700;
  color: #e5e7eb;
}

.call-to-action-article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  background-color: var(--call-to-action2-bg-color);
  width: 80%;
  border-radius: 10px;
}

.button-discription {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: var(--button-bg-color);
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-color: #e5e7eb;
  border-style: solid;
  width: 100px;
  height: 30px;
}

.copyright-container {
  background-color: var(--copyright-container-bg-color);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #e5e7eb;
}
