/* define vars for the root element */

:root {
  --dark-color: #1f2937;
  --light-blue-bg-color: #3882f6;
  --off-white-color: #e5e7eb;
  --white-color: #f9faf8;
}

*,
ul,
li,
button {
  margin: 0;
  border: none;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border-color: var(--off-white-color);
  color: var(--dark-color);
}

.link-content {
  margin-top: 2%;
}

nav {
  font-weight: 18;
  background-color: var(--dark-color);
}

.header-container {
  background-color: var(--dark-color);
}

.header-logo-text {
  margin-left: 10%;
  color: var(--white-color);
  margin-right: 20%;
  font-size: 24px;
  margin-top: 2%;
}

.header-link {
  list-style: none;
  display: inline;
  color: var(--off-white-color);
  margin-left: 80px;
  font-size: 18px;
}

.hero-header-text {
  font-size: 48px;
  margin: 0;
}

.page-description {
  width: 135%;
}

.hero-container {
  color: var(--white-color);
  margin-left: 10%;
  margin-top: 7%;
  margin-right: 5%;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 10%;
}

.sign-up-button {
  background-color: var(--light-blue-bg-color);
  border-radius: 10px;
  border: var(--light-blue-bg-color);
  width: 45%;
  height: 16%;
  color: var(--white-color);
  font-weight: bold;
  font-size: 15px;
}

img {
  width: 120%;
  height: 250px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}

.information-container {
  margin-bottom: 10%;
  margin-top: 5%;
  flex-direction: column;
}

.information-header-text {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
}

.illustration-container1 {
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}

.illustration-container {
  height: 150px;
  border: 5px solid var(--light-blue-bg-color);
  border-radius: 10%;
  border-width: 5px;
}

.image-subtext {
  width: 150px;
  text-align: center;
  margin-top: 120%;
}

.quote-container {
  background-color: var(--off-white-color);
  padding-top: 3%;
  margin-bottom: 10%;
}

.quote-text {
  font-size: 36px;
  padding-left: 25%;
  padding-right: 15%;
  margin: 0;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  margin: 0;
  margin-left: 60%;
  padding-bottom: 3%;
  font-weight: bold;
  font-size: large;
}

.call-to-action-section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.call-to-action-container {
  font-size: 20px;
  font-weight: 700;
  color: var(--off-white-color);
}

.call-to-action-article {
  align-items: center;
  justify-content: space-around;
  height: 150px;
  background-color: var(--light-blue-bg-color);
  width: 80%;
  border-radius: 10px;
}

.button-discription {
  font-size: 18px;
  color: var(--off-white-color);
}

.button {
  background-color: var(--light-blue-bg-color);
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-color: var(--off-white-color);
  border-style: solid;
  width: 100px;
  height: 30px;
}

.copyright-container {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  color: var(--off-white-color);
  background-color: var(--dark-color);
}
